@font-face {
  font-family: 'News Cycle';
  src: url('/fonts/NewsCycle-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'News Cycle';
  src:  url('/fonts/NewsCycle-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: 'bold';
  font-display: swap;
}


:root {
  --sw-yellow: #FFE81F;
  --sw-dark: #000;
  --sw-gray: #111;
  font-family: 'News Cycle';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after{
  box-sizing: border-box;
  margin:  0px;
  padding: 0px;
}